.p__highlight {
    font-size: 32px;
}

.headtext__main {
    font-size: 96px;
    font-weight: 200;
    text-shadow: -13px 17px 18px var(--color-bg);
    line-height: 100px;
    letter-spacing: 0.04em;
}

.headtext__highlight {
    font-size: 64px;
    font-weight: 300;
}

.headtext__regular {
    font-size: 32px;
    font-weight: 500;
}

.p__regular {
    font-size: 24px;
    font-weight: 200;
}

.p__small {
    font-size: 18px;
    font-weight: 200;
}

.flex__center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom__button {
    background-color: var(--color-red);
    border: 1px solid rgba(255, 255, 255, .25);
    color: white;
    border-radius: 1em;
    font-family: "Kodchasan";
    line-height: 56px;
    letter-spacing: 0.04em;
    font-size: 48px;
    padding: 1rem 3rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.custom__button:hover {
    background-color: #72281d;
}


.section__padding {
    padding: 4rem 6rem;
}

@media screen and (min-width: 2000px) {
    .headtext__main {
      font-size: 150px;
      line-height: 210px;
    }

    .headtext__highlight {
        font-size: 100px;
    }
  
    .p__regular {
        font-size: 37px;
    }
  }

@media screen and (max-width: 1150px) {
    .custom__button {
        padding: 0.75rem 1.5rem;
    }
}

@media screen and (max-width: 850px) {
    .section__padding {
        padding: 4rem;
    }

    .headtext__main {
        font-size: 70px;
        line-height: 70px;
    }

    .headtext__highlight {
        font-size: 47px;
    }


}

@media screen and (max-width: 650px) {
    .section__padding {
        padding: 4rem 2rem;
    }


    .custom__button {
        line-height: 28px;
        font-size: 20px;
        padding: 0.5rem 1.5rem;
    }

    .headtext__main {
        font-size: 54px;
        line-height: 70px;
    }

    .headtext__highlight {
        font-size: 36px;
    }

    .p__regular {
        font-size: 19px;
    }
}