.app__navbar-links {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.app__navbar-links a {
    transition: border-bottom 1.3s ease-in-out;
}

.app__navbar-links a:hover {
    border-bottom: 2px solid gray;
}


.app__navbar-smallscreen {
    display: none;
}

.app__navbar-smallscreen_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: black;
    transition: 0.5s ease;
    flex-direction: column;
    z-index: 5;
}

.app__navbar-smallscreen_overlay .overlay__close {
    font-size: 27px;
    color: var(--color-lightSilver);
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}

.app__navbar-smallscreen_links {
    list-style: none;
}

.app__navbar-smallscreen_links li {
    margin: 2rem;
    cursor: pointer;
    color: var(--color-lightSilver);
    font-size: 2rem;
    text-align: center;
    font-family: var(--font-base);
}

@media screen and (max-width: 1150px) {
    .app__navbar-links {
        display: none;
    }

    .app__navbar-smallscreen {
        display: flex;
    }

    .app__navbar-booking {
        width: 70%;
    }
}

@media screen and (max-width: 650px) {
    .app__navbar {
        padding: 1rem;
    }

    .app__navbar-booking {
        display: none;
    }

    .app__navbar-logo img {
        width: 110px;
    }
}